ion-toolbar{
	--background: #FF641A;
	--color: #F2F2F2 ;
	ion-menu-button{
		--color: #F2F2F2;
	}
	ion-icon{
		color: #F2F2F2;
	}
}
ion-content{
	--ion-background-color: var(--ion-color-light-tint);
}
.ios ion-back-button{
	--color: #F2F2F2;
}

ion-card{
	background-color: white;
	box-shadow: none;
	border-radius: 15px;
	margin-bottom: 20px;
	ion-item{
		--background: white;
		--padding-start: 0;
	}
}

.unit-detail{
	img{
		display: block;
		margin: auto;
		width: 100vw;
	}
	p{
		font-size: 12px;
	}
}

.cost{
	h2{
		margin-top: 5px;
		text-align: center;
	}
	img{
		display: block;
		margin: auto;
		max-height: 30px;
		width: auto;
		border-radius: 0px !important;
	}
}

.unit-stats{
	padding-left: 12px !important;
	padding-right: 12px !important;
	text-align: center;
	p{
		font-size: 12px;
	}
}