ion-searchbar{
	padding-bottom: 0;
	padding-top: 0;
}
.ios ion-searchbar{
	--cancel-button-color: #F2F2F2;
	--background: #F2F2F2;
}
ion-toolbar{
	--background: var(--ion-color-second);
	--color: #F2F2F2 ;
	ion-menu-button{
		--color: #F2F2F2;
	}
	ion-icon{
		color: #F2F2F2;
	}
}
ion-item-option{
	--background: var(--ion-color-second);
	--color: white;
}
ion-item-divider{
	--padding-top: 5px;
	--padding-bottom: 5px;
}