<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" [@openClose]="isOpen ? 'open' : 'closed'">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title [@openClose]="isOpen ? 'open' : 'closed'">Unidades</ion-title>
		<ion-searchbar 
		[@openClose]="!isOpen ? 'open' : 'closed'"
		placeholder="Buscar Unidades..." 
		showCancelButton debounce="500" 
		(ionInput)="onSearch($event)" 
		(ionCancel)="closeSearch()"
		animated >
	</ion-searchbar>
	<ion-buttons slot="end" [@openClose]="isOpen ? 'open' : 'closed'">
		<ion-button icon-only size="large" (click)="openSearch()">
			<ion-icon name="search"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item button *ngFor="let unit of ( units | initial: size ) | filterBy: ['name']: name" class="animated fadeIn fast" [routerLink]="['/menu/unit', unit.id]">
						<ion-avatar slot="start">
							<img src="assets/icon/unit/{{unit.name}}.png">
						</ion-avatar>
						<ion-label >
							<h2>{{ unit.name }}</h2>
						</ion-label>
					</ion-item>

					<div *ngIf="!units.length > 0">
						<ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
							<ion-avatar slot="start">
								<ion-skeleton-text animated></ion-skeleton-text>
							</ion-avatar>
							<ion-label>
								<h2>
									<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
								</h2>
							</ion-label>
						</ion-item>
					</div>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="size > 0">
		<ion-infinite-scroll-content
		loadingSpinner="bubbles"
		loadingText="Cargando mas unidades...">
	</ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
