<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" [@openClose]="isOpen ? 'open' : 'closed'">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title [@openClose]="isOpen ? 'open' : 'closed'">Civilizaciones</ion-title>
		<ion-searchbar 
		[@openClose]="!isOpen ? 'open' : 'closed'"
		placeholder="Buscar Civilizacion..." 
		showCancelButton debounce="500" 
		(ionInput)="onSearch($event)" 
		(ionCancel)="closeSearch()"
		animated >
	</ion-searchbar>
	<ion-buttons slot="end" [@openClose]="isOpen ? 'open' : 'closed'">
		<ion-button icon-only size="large" (click)="openSearch()">
			<ion-icon name="search"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item button *ngFor="let civilization of civilizations | async | filterBy: ['name']: name" [routerLink]="['/menu/civilization', civilization.id]">
						<ion-avatar slot="start">
							<img src="assets/icon/civilization/{{civilization.name}}.jpg">
						</ion-avatar>
						<ion-label>
							<h2>{{ civilization.name }}</h2>
							<p>{{ civilization.description }}</p>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
