<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>civilization</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item button *ngFor="let civilization of civilizations | async" [routerLink]="['/civilization', civilization.id]">
						<ion-avatar slot="start">
							<img src="assets/icon/civilization/{{civilization.name}}.jpg">
						</ion-avatar>
						<ion-label>
							<h1>{{ civilization.id }} {{ civilization.name }}</h1>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
