<ion-header>
	<ion-toolbar>
		<ion-button [routerLink]="['/home']">home</ion-button>
		<ion-title>technology</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item button *ngFor="let technology of technologies | async" [routerLink]="['/technology', technology.id]">
						<ion-label>
							<h1>{{ technology.id }} {{ technology.name }}</h1>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
