<ion-header>
	<ion-toolbar>
		<ion-button [routerLink]="['/home']">home</ion-button>
		<ion-title>technology</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item *ngFor="let technology of technologies | async">
						<ion-label>
							<h1>{{ technology.id }} {{ technology.name }}</h1>
							<h3>{{ technology.description }}</h3>
							<h3>{{ technology.expansion }}</h3>
							<h3>{{ technology.food }}</h3>
							<h3>{{ technology.wood }}</h3>
							<h3>{{ technology.stone }}</h3>
							<h3>{{ technology.gold }}</h3>
							<h3>{{ technology.buildTime }}</h3>
							<h3>{{ technology.developsIn }}</h3>
							<h3>{{ technology.civilization }}</h3>
							<h3>{{ technology.age }}</h3>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
