<ion-header>
	<ion-toolbar>
		<ion-button [routerLink]="['/home']">home</ion-button>
		<ion-title>civilization</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item *ngFor="let civ of civilizations | async">
						<ion-label>
							<ion-button [routerLink]="['/civilization', civ.id]">go</ion-button>
							<h1>{{ civ.id }} {{ civ.name }}</h1>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
