<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-toolbar>

</ion-header>

<ion-content padding>

	<ion-button [routerLink]="['/menu/civilization']">List civilizations</ion-button>
	<ion-button [routerLink]="['/menu/unit']">List units</ion-button>
	<ion-button [routerLink]="['/menu/structure']">List structures</ion-button>
	<ion-button [routerLink]="['/menu/technology']">List technologies</ion-button>

</ion-content>
