ion-content{
	--ion-background-color: #f4f5f8;
}
ion-toolbar{
	--ion-toolbar-background: var(--ion-color-light-tint);
}
ion-card{
	background-color: white;
	box-shadow: none;
	border-radius: 15px;
}

ion-img{
	display: block;
	margin: auto;
	width: 10vw;
	height: auto;
}

