<ion-header>
	<ion-toolbar>
		<ion-button [routerLink]="['/home']">home</ion-button>
		<ion-title>structure</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item  button *ngFor="let structure of structures | async" [routerLink]="['/structure', structure.id]">
						<ion-label>
							<h1>{{ structure.id }} {{ structure.name }}</h1>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
