<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" [@openClose]="isOpen ? 'open' : 'closed'">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title [@openClose]="isOpen ? 'open' : 'closed'">Tecnologias</ion-title>
		<ion-searchbar 
		[@openClose]="!isOpen ? 'open' : 'closed'"
		placeholder="Buscar Tecnologias..." 
		showCancelButton debounce="500" 
		(ionInput)="onSearch($event)" 
		(ionCancel)="closeSearch()"
		animated >
	</ion-searchbar>
	<ion-buttons slot="end" [@openClose]="isOpen ? 'open' : 'closed'">
		<ion-button icon-only size="large" (click)="openSearch()">
			<ion-icon name="search"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

	

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item button *ngFor="let technology of technologies  | filterBy: ['name']: name" class="animated fadeIn faster" [routerLink]="['/menu/technology', technology.id]">
						<ion-avatar slot="start">
							<img src="assets/icon/technology/{{technology.name}}.jpg">
						</ion-avatar>
						<ion-label>
							<h2>{{ technology.name }}</h2>
						</ion-label>
					</ion-item>

					<div *ngIf="!technologies.length > 0">
						<ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
							<ion-avatar slot="start">
								<ion-skeleton-text animated></ion-skeleton-text>
							</ion-avatar>
							<ion-label>
								<h2>
									<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
								</h2>
							</ion-label>
						</ion-item>
					</div>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
