<ion-header>
	<ion-toolbar>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-button color="primary" [routerLink]="['/civilization']">Primary</ion-button>
	<ion-list>
		<ion-item *ngFor="let asd of prueba | async">
			<ion-label>
				<h2>{{ asd.name }}</h2>
			</ion-label>
		</ion-item>
	</ion-list>

	{{products}}
	<ion-list>
		<ion-item *ngFor="let prod of products | async">
			<ion-label>
				<h2>{{ prod.name }}</h2>
			</ion-label>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-item button *ngFor="let dev of developers | async">
			<ion-label>
				<h2>{{ dev.name }}</h2>
			</ion-label>
		</ion-item>
	</ion-list>


</ion-content>
